<h1><%=image_tag 'twitter.png' %></h1>
</br>
<h2>
	<%= form_for :par_tweet do |f| %>
  <%= f.text_field :content, placeholder: "tweet ici:", :class => 'champ' %>
  <%= f.submit value: "tweet ðŸ¦", :class => 'button' %>
  
</h2>
<% end %>





