@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */



h1 {
  font-size: 4em;
  font-family: sans-serif;

  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(29, 161, 242);
}



h2 {
  
  
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

.champ
{
	
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button
{
	background-color: rgb(74, 179, 244);
	color: white;
	font-weight: bold;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: rgba(0, 0, 0, 0);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 3px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;

}
